Annual goal distance: <input type="text" />{{#if rideData.isMetric}}km{{else}}mi{{/if}}<br />

Required distance per day: <span class="requiredDistancePerDay"></span><br />
Required distance per week: <span class="requiredDistancePerWeek"></span><br /><br />

Annual goal elevation gain: <input type="text" />{{#if rideData.isMetric}}m{{else}}ft{{/if}}<br />

Required elevation gain per day: <span class="requiredElevationPerDay"></span><br />
Required elevation gain per week: <span class="requiredElevationPerWeek"></span><br /><br />