Annual goal distance: <input type="text" class="annualGoalDistance" />{{#if rideData.isMetric}}km{{else}}mi{{/if}}<br />

Required distance per day: <span class="requiredDistancePerDay"></span><br />
Current distance per day difference: <span class="distancePerDayDifference"></span><br />
Required distance per week: <span class="requiredDistancePerWeek"></span><br />
Current distance per week difference: <span class="distancePerWeekDifference"></span><br /><br />

Annual goal elevation gain: <input type="text" class="annualGoalElevation" />{{#if rideData.isMetric}}m{{else}}ft{{/if}}<br />

Required elevation gain per day: <span class="requiredElevationPerDay"></span><br />
Required elevation gain per week: <span class="requiredElevationPerWeek"></span><br /><br />