<!DOCTYPE html>
<html>
	
	<head>
		
		<title>Annual Mileage Projector</title>

		<link href='/desktop.css' rel='stylesheet'>
		<link href='/mobile.css' rel='stylesheet'>
		
		<meta content='Annual Mileage Projector' name='title'>
		<meta content='width=device-width' name='viewport'>

		<script charset='utf-8' src='https://code.jquery.com/jquery-2.1.1.min.js' type='text/javascript'></script>
		<script charset='utf-8' src='/scripts/handlebars.js' type='text/javascript'></script>
		<!-- <script charset='utf-8' src='/scripts/helpers.js' type='text/javascript'></script> -->
		
	</head>
	
	<body>

		{{{body}}}

	</body>
	
</html>