{{>header}}

<a href="https://www.strava.com/oauth/authorize?
client_id=1417
&response_type=code
&redirect_uri=http://localhost:3000/token_exchange
&scope=view_private"><img src="http://strava.github.io/api/images/LogInWithStrava@2x.png" /></a>

{{>footer}}