{{>header}}

<div id="content"></div>

<script type='text/javascript'>
		
	// Boot up React
	React.render(
		React.createElement(MileageContent, {
			rideData: rideData,
			isMetric: true
		}),
		document.getElementById('content')
	);
	
</script>

{{>footer}}