/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@font-face {
	font-family: missionBold;
	src: url(/fonts/MissionGothicBold.otf);
}

@font-face {
	font-family: missionRegular;
	src: url(/fonts/MissionGothicRegular.otf);
}

@font-face {
	font-family: missionThin;
	src: url(/fonts/MissionGothicThin.otf);
}

$base: #48BD21;
$padding: 20px;

body {
	background: lighten($base, 40%);
}

h1 {
	font-family: missionBold, Helvetica, sans-serif;
	font-size: 34px;
	text-transform: uppercase;
	letter-spacing: -1px;
	line-height: 0.8;
	padding: $padding;
	text-shadow: #fff 1px 1px 0;
}

.unitSwitcher {
	padding: $padding;
	padding-top: 10px;
	padding-bottom: 10px;
	background: lighten($base, 37%);
	color: rgba(0, 0, 0, 0.7);
	button {
		background: none;
		border: none;
		font-family: missionBold, Helvetica, sans-serif;
		text-transform: uppercase;
		&:hover:not(.selected) { 
			cursor: pointer;
			background: rgba(0, 0, 0, 0.05);
		}
		&.selected { 
			background: rgba(0, 0, 0, 0.1);
		}
	}
}

.mileageData {
	padding: $padding;
	background: lighten($base, 34%);
	font-family: missionThin, Helvetica, sans-serif;
	line-height: 1.2;
	.yearToDate, .averageYearToDate { margin-bottom: 15px; }
	.data {
		font-family: Menlo, Monaco, Courier, monospace;
		font-weight: bold;
		font-size: 13px;
		display: inline-block;
		width: 66px;
		padding: 3px 7px;
		text-align: right;
	}
}

.mileageProjector {
	
	.mileage {
		padding: $padding;
		background: lighten($base, 31%);
	}
	
	.elevation {
		padding: $padding;
		background: lighten($base, 28%);
	}
	
}

.logout {
	padding: $padding;
	background: lighten($base, 25%);
}

.footer {
	padding: $padding;
	background: lighten($base, 22%);
}














